{% extends 'base.html' %}
{% block content %}

{% for dreams in data %}

<center>
    <div class="d-flex justify-content-center py-2">

        <div class="
         {% if dreams.done == false %}
            second-false
         {% else %}
            second-true
         {% endif %}

        py-4 px-2">
            <span class="text1">{{dreams.title}}</span>
            <div class="d-flex justify-content-between py-1 pt-2">
                <div>
                    <span class="text2">Author:</span>
                    <span class="thumbup">
                    </span><span class="text2">{{dreams.author}}</span>
                </div>
                <div>
                    <span class="text2">Date:</span>
                    <span class="thumbup">
                    </span><span class="text2">{{dreams.date}}</span>
                </div>
            </div>
        </div>
    </div>
</center>
{% endfor %}
{% endblock %}
